<a href="https://colab.research.google.com/github/wizard339/education/blob/main/misis/nlp/token_classification/token_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
!wget 'https://raw.githubusercontent.com/wizard339/education/main/misis/nlp/token_classification/train.txt'
!wget 'https://raw.githubusercontent.com/wizard339/education/main/misis/nlp/token_classification/dev.txt'
!wget 'https://raw.githubusercontent.com/wizard339/education/main/misis/nlp/token_classification/test.txt'

--2023-03-14 20:49:37--  https://raw.githubusercontent.com/wizard339/education/main/misis/nlp/token_classification/train.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2302972 (2.2M) [text/plain]
Saving to: ‘train.txt’

train.txt           100%[===================>]   2.20M  --.-KB/s    in 0.07s

2023-03-14 20:49:37 (31.0 MB/s) - ‘train.txt’ saved [2302972/2302972]

--2023-03-14 20:49:38--  https://raw.githubusercontent.com/wizard339/education/main/misis/nlp/token_classification/dev.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 750193 (733K) [text/plain]
Saving to: ‘dev.txt’

dev.txt             100%[===================>] 732.61K  --.-KB/s    in 0.05s

2023-03-14 20:49:38 (14.6 MB/s) - ‘dev.txt’ saved [750193/750193]

--2023-03-14 20:49:38--  https://raw.githubusercontent.com/wizard339/education/main/misis/nlp/token_classification/test.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 778224 (760K) [text/plain]
Saving to: ‘test.txt’

test.txt            100%[===================>] 759.98K  --.-KB/s    in 0.05s

2023-03-14 20:49:38 (15.2 MB/s) - ‘test.txt’ saved [778224/778224]

In [3]:
with open('/content/train.txt', 'r') as f:
    train_txt = f.read()

with open('/content/dev.txt', 'r') as f:
    val_txt = f.read()

with open('/content/test.txt', 'r') as f:
    test_txt = f.read()

In [6]:
def text_preproc(text: str) -> pd.DataFrame:
    '''
    preprocessing input texts 
    '''
    splitted_text = text.split('\n')
    sentences, tags = [], []
    sentence, tag = [], []
    
    for text in splitted_text:

        if text != '':
            text = text.split(' ')
            sentence.append(text[0])
            tag.append(text[1])
        else:
            sentences.append(sentence)
            tags.append(tag)
            sentence, tag = [], []
    
    df = pd.DataFrame({'Text': sentences,
                       'Tags': tags})

    return df

In [7]:
train_data = text_preproc(train_txt)
print(train_data.shape)
train_data.head()

(7747, 2)

,Text,Tags
0,"["", Если, Миронов, занял, столь, оппозиционную...","[O, O, B-PER, O, O, O, O, O, O, O, O, O, O, O,..."
1,"[Источник, "", Ъ, '', в, руководстве, столичной...","[O, O, B-ORG, O, O, O, O, O, O, O, O, O, O, B-..."
2,"[В, Ханты-Мансийском, автономном, округе, с, д...","[O, B-LOC, I-LOC, I-LOC, O, O, O, O, B-ORG, B-..."
3,"[С, 1992, года, по, настоящее, время, является...","[O, O, O, O, O, O, O, O, B-ORG, I-ORG, I-ORG, ..."
4,"[Для, этого, ей, пришлось, выиграть, выборы, в...","[O, O, O, O, O, O, O, O, O, O, B-LOC, I-LOC, O..."

In [8]:
val_data = text_preproc(val_txt)
print(val_data.shape)
val_data.head()

(2583, 2)

,Text,Tags
0,"[как, акционерный, коммерческий, Московский, м...","[O, O, O, B-ORG, I-ORG, I-ORG, I-ORG, I-ORG, I..."
1,"[Управлять, ЦАО, и, САО, вместо, Алексея, Алек...","[O, B-LOC, O, B-LOC, O, B-PER, I-PER, O, B-PER..."
2,"[О, задержании, Шакирьянова, стало, известно, ...","[O, O, B-PER, O, O, O, O, O, O, O]"
3,"[После, майского, ухода, вице-премьера, Владис...","[O, O, O, O, B-PER, I-PER, O, O, O, O, O, B-PE..."
4,"[Армяне, со, мной, согласились, ,, с, Ильхамом...","[O, O, O, O, O, O, B-PER, I-PER, O, O, O, O, O..."

In [9]:
test_data = text_preproc(test_txt)
print(test_data.shape)
test_data.head()

(2583, 2)

,Text,Tags
0,"[Тогда, замешанные, в, скандале, прокуроры, от...","[O, O, O, O, O, O, O, O, O, O, O, O, O]"
1,"[Символичным, назвал, председатель, РФМ, ,, де...","[O, O, O, B-ORG, O, O, B-ORG, I-ORG, B-LOC, B-..."
2,"[На, посту, гендиректора, Yahoo, !, B-ORG, Кэр...","[O, O, O, O, O, O, B-PER, I-PER, O, B-PER, I-P..."
3,"[Считаю, невозможным, руководить, областью, с,...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
4,"[Боксер, победила, Карли, Фиорину, (, Carly, F...","[B-PER, O, B-PER, I-PER, O, I-PER, O, O, O, O,..."