<a href="https://colab.research.google.com/github/wizard339/education/blob/main/intro_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
import pandas as pd

In [84]:
data = pd.read_csv('full.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
 12  WikiId       1304 non-null   float64
 13  Name_wiki    1304 non-null   object
 14  Age_wiki     1302 non-null   float64
 15  Hometown     1304 non-null   object
 16  Boarded      1304 non-null   object
 17  Destination  1304 non-null   object
 18  Lifeboat     502 non-null    object
 19  Body         130 non-null    object
 20  Class        1304 non-null   float64
dtypes: float64(6), int64(4), object(11)
memory usage: 214.9+ KB

In [85]:
data.keys()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'WikiId', 'Name_wiki',
       'Age_wiki', 'Hometown', 'Boarded', 'Destination', 'Lifeboat', 'Body',
       'Class'],
      dtype='object')

In [87]:
# percentage of survivors of the total
data['Survived'].mean()

0.3838383838383838

In [88]:
# percentage of survivors of the total grouped by sex
data.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [94]:
# percentage of survivors of the total grouped by sex and class of service
data.groupby(['Sex', 'Class'])['Survived'].mean()

Sex     Class
female  1.0      0.968421
        2.0      0.920000
        3.0      0.496503
male    1.0      0.368852
        2.0      0.158879
        3.0      0.135447
Name: Survived, dtype: float64

In [96]:
# median age of the passengers by sex and class of service
data.groupby(['Sex', 'Class'])['Age'].median()

Sex     Class
female  1.0      36.0
        2.0      28.0
        3.0      22.0
male    1.0      41.5
        2.0      30.0
        3.0      25.0
Name: Age, dtype: float64

In [103]:
# 90-percentile of the survivor's age by the class of service
data.groupby(['Class', 'Survived'])['Age'].quantile(0.9)

Class  Survived
1.0    0.0         63.4
       1.0         52.8
2.0    0.0         52.2
       1.0         44.7
3.0    0.0         42.1
       1.0         32.0
Name: Age, dtype: float64