<a href="https://colab.research.google.com/github/wizard339/education/blob/main/transfer_learning_nlp_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

## Loading data and exploratary data analysis

In [72]:
train_raw_data = pd.read_csv(filepath_or_buffer='train.csv', index_col=0)
test_raw_data = pd.read_csv(filepath_or_buffer='test.csv')

print(f'Shape of train: {train_raw_data.shape}')
print(f'Shape of test: {test_raw_data.shape}')

Shape of train: (41159, 2)
Shape of test: (3798, 2)

### Training data preprocessing

Let's look at the data:

In [73]:
train_raw_data.head()

                                                Text           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative

In [74]:
train_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41159 entries, 0 to 41156
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Text       41158 non-null  object
 1   Sentiment  41155 non-null  object
dtypes: object(2)
memory usage: 964.7+ KB

We can see that there are rows with missing data. Let's look at them:

In [75]:
train_raw_data[train_raw_data['Sentiment'].isnull() == True]

                                                      Text Sentiment
33122    @PrivyCouncilCA #SocialDistancing isnÂt enoug...       NaN
NaN                                                Neutral       NaN
39204    @TanDhesi @foreignoffice @Afzal4Gorton @Expres...       NaN
Neutral                                                NaN       NaN

Let's drop these rows from our DataFrame because they don't carry much value and let's look at the data again:

In [76]:
train_raw_data = train_raw_data.dropna().reset_index(drop=True)
print(f'New shape of train: {train_raw_data.shape}')

New shape of train: (41155, 2)

In [77]:
train_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41155 entries, 0 to 41154
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Text       41155 non-null  object
 1   Sentiment  41155 non-null  object
dtypes: object(2)
memory usage: 643.2+ KB

### Test data preprocessing

Let's look at the data:

In [78]:
test_raw_data.head()

,id,Text
0,787bc85b-20d4-46d8-84a0-562a2527f684,TRENDING: New Yorkers encounter empty supermar...
1,17e934cd-ba94-4d4f-9ac0-ead202abe241,When I couldn't find hand sanitizer at Fred Me...
2,5914534b-2b0f-4de8-bb8a-e25587697e0d,Find out how you can protect yourself and love...
3,cdf06cfe-29ae-48ee-ac6d-be448103ba45,#Panic buying hits #NewYork City as anxious sh...
4,aff63979-0256-4fb9-a2d9-86a3d3ca5470,#toiletpaper #dunnypaper #coronavirus #coronav...

In [79]:
test_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3798 non-null   object
 1   Text    3798 non-null   object
dtypes: object(2)
memory usage: 59.5+ KB

There are no rows with missing data.

In [80]:
train_raw_data.head()

                                                Text           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative

In [81]:
train_raw_data['Sentiment'].value_counts()

Positive              11422
Negative               9917
Neutral                7711
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64